<div class="container-fluid p-0">
    <div class="content-footer">
        <div class="text" style="">
            © 2024 Portfólio - Desenvolvido em Angular
        </div>
        <div class="social-media">
            <a href="https://github.com/NelsonModenezNeto/" target="_blank">
                <i class="bi bi-github icon"></i>
            </a>
            <a href="https://www.linkedin.com/in/nelson-modenez-neto-86195922a/" target="_blank">
                <i class="bi bi-linkedin icon"></i>
            </a>
            <a href="https://www.instagram.com/nelsonmodenezneto/" target="_blank">
                <i class="bi bi-instagram icon"></i>
            </a>
        </div>
    </div>
</div>