<div class="container-fluid" id="contato">
    <div class="d-flex justify-content-center">
        <div class="title">
            CONTATO
            <div class="underline"></div>
        </div>
    </div>
    <div class="content-cards">
        <div class="card">
            <div class="d-flex justify-content-center"><i class="p-0 bi bi-cpu icon"></i></div>
            <div class="discription">Posso te ajudar com desenvolvimento de servidores, APIs, bancos de dados e muito mais. Vamos discutir como posso otimizar seus sistemas! Entre em contato agora.</div>
            <a href="https://wa.me/5519971641777" target="_blank" style="border: none; outline: none; text-decoration: none;">
                <div class="btn-contato">Entre em Contato</div>
            </a>
        </div>
        <div class="card">
            <div class="d-flex justify-content-center"><i class="bi bi-laptop icon"></i></div>
            <div class="discription">Está procurando um desenvolvedor fullstack para construir uma aplicação web? Posso criar interfaces modernas e funcionais que atendem exatamente a sua necessidades</div>
            <a href="https://wa.me/5519971641777" target="_blank" style="border: none; outline: none; text-decoration: none;">
                <div class="btn-contato">Entre em Contato</div>
            </a>
        </div>
        <div class="card">
            <div class="d-flex justify-content-center"><i class="bi bi-pc-display-horizontal icon"></i></div>
            <div class="discription">Quer melhorar a performance ou design do seu site? Eu ofereço desenvolvimento frontend de alta qualidade, garantindo que seu projeto seja rápido, responsivo e visualmente atraente</div>
            <a href="https://wa.me/5519971641777" target="_blank" style="border: none; outline: none; text-decoration: none;">
                <div class="btn-contato">Entre em Contato</div>
            </a>
        </div>
    </div>
    <div class="content-btn">
        
    </div>

</div>