<div class="container-fluid mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="content_sobre">
            <div class="col-lg-5 col-md-12 d-flex justify-content-center part1">
                <img src="assets/sobre.png" width="500">
            </div>
            <div class="col-lg-5 col-md-8 ps-4 pe-4 part2">
                <h1 class="text-center mb-2"><strong>SOBRE MIM</strong></h1>
                <p>Técnico em Desenvolvimento de Sistemas no Cotil, e fazendo ensino superior na Unicamp em Análise e
                    Desenvolvimento de Sistemas, dedicado ao aprimoramento contínuo.<br><br>

                    💻 Backend: Experiência sólida em Java, C, C#, GraphQL, Hibernate, Spring Boot, Python, PHP, Flutter
                    e
                    Hibernate, com foco em desenvolvimento eficiente e escalável.<br><br>

                    🖥 Frontend: HTML, CSS, Bootstrap, Semantic, JavaScript, Vue, Angular, visando interfaces intuitivas
                    e
                    envolventes.<br><br>

                    👨‍💻 Apaixonado por tecnologia e inovação, sempre ansioso por desafios que impulsionem o
                    aprendizado e
                    o crescimento profissional.</p>
            </div>
        </div>
    </div>
</div>