<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <div class="title">
            PROJETOS
            <div class="underline"></div>
        </div>
    </div>

    <div class="content_projeto">
        <div>
            <div class="title-project">TCC Cotil</div>
            <div class="card-projeto">
                <div class="back-img">
                    <img src="../assets/imgcode.png" alt="">
                </div>
                <div class="loading-border"></div>
            </div>
            <div class="lembrete">* Clique no projeto para ir ao Repósitorio para mais informações</div>
        </div>
        <div>
            <div class="title-project">TCC Cotil</div>
            <div class="card-projeto">
                <div class="back-img">
                    <img src="../assets/imgcode.png" alt="">
                </div>
                <div class="loading-border"></div>
            </div>
            <div class="lembrete">* Clique no projeto para ir ao Repósitorio para mais informações</div>
        </div>
        <div>
            <div class="title-project">TCC Cotil</div>
            <div class="card-projeto">
                <div class="back-img">
                    <img src="../assets/imgcode.png" alt="">
                </div>
                <div class="loading-border"></div>
            </div>
            <div class="lembrete">* Clique no projeto para ir ao Repósitorio para mais informações</div>
        </div>
        <div>
            <div class="title-project">TCC Cotil</div>
            <div class="card-projeto">
                <div class="back-img">
                    <img src="../assets/imgcode.png" alt="">
                </div>
                <div class="loading-border"></div>
            </div>
            <div class="lembrete">* Clique no projeto para ir ao Repósitorio para mais informações</div>
        </div>
        <div>
            <div class="title-project">TCC Cotil</div>
            <div class="card-projeto">
                <div class="back-img">
                    <img src="../assets/imgcode.png" alt="">
                </div>
                <div class="loading-border"></div>
            </div>
            <div class="lembrete">* Clique no projeto para ir ao Repósitorio para mais informações</div>
        </div>
        <div>
            <div class="title-project">TCC Cotil</div>
            <div class="card-projeto">
                <div class="back-img">
                    <img src="../assets/imgcode.png" alt="">
                </div>
                <div class="loading-border"></div>
            </div>
            <div class="lembrete">* Clique no projeto para ir ao Repósitorio para mais informações</div>
        </div>
    </div>
</div>