<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="content_grade">
            <div class="card_grade" #card>
                <div class="title">{{ projectsReady }}</div>
                <div class="subTitle">Projetos Prontos</div>
            </div>
            <div class="card_grade" #card>
                <div class="title">{{ projectsOngoing }}</div>
                <div class="subTitle">Projetos Em Andamento</div>
            </div>
            <div class="card_grade" #card>
                <div class="title">+{{ programmedHours }}</div>
                <div class="subTitle">Horas Programadas</div>
            </div>
            <div class="card_grade" #card>
                <div class="title">+{{ workedHours }}</div>
                <div class="subTitle">Horas Trabalhadas</div>
            </div>
        </div>
    </div>
</div>
