<div class="row d-flex justify-content-center">
    <div class="content-carrosel">
        <div class="group">
            <!-- Imagens repetidas para criar um loop contínuo -->
            <img class="tecnology" src="./assets/angular.svg" alt="">
            <img class="tecnology" src="./assets/typescript.svg" alt="">
            <img class="tecnology" src="./assets/react.svg" alt="">
            <img class="tecnology" src="./assets/expo.svg" alt="">
            <img class="tecnology" src="./assets/flutter.svg" alt="">
            <img class="tecnology" src="./assets/javascript.svg" alt="">
            <img class="tecnology" src="./assets/vuedotjs.svg" alt="">
            <img class="tecnology" src="./assets/bootstrap.svg" alt="">
        </div>
        <div class="group">
            <!-- Imagens repetidas para criar um loop contínuo -->
            <img class="tecnology" src="./assets/angular.svg" alt="">
            <img class="tecnology" src="./assets/typescript.svg" alt="">
            <img class="tecnology" src="./assets/react.svg" alt="">
            <img class="tecnology" src="./assets/expo.svg" alt="">
            <img class="tecnology" src="./assets/flutter.svg" alt="">
            <img class="tecnology" src="./assets/javascript.svg" alt="">
            <img class="tecnology" src="./assets/vuedotjs.svg" alt="">
            <img class="tecnology" src="./assets/bootstrap.svg" alt="">
        </div>
    </div>
</div>