.content-carrosel {
    background-color: #10101000;
    width: 70%;
    overflow-x: hidden;
    white-space: nowrap;
    z-index: 1;

}

.group {
    display: inline-block;
    justify-content: space-between;
    overflow-x: hidden;
    animation: mover 6s infinite linear;

}

@keyframes mover {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.tecnology {
    width: 60px;
    height: 60px;
    color: white;
    margin-right: 40px;
    filter: invert(1);
}


@media screen and (max-width: 800px) {
    .tecnology {
        width: 40px;
        height: 40px;
    }
}