<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <div class="title">
            PROJETOS
            <div class="underline" ></div>
        </div>
    </div>

    <div class="content_projeto">
        <div class="card-projeto">
            <div class="loading-border"></div>
        </div>
        
        <div class="card-projeto">
            <div class="loading-border"></div>
        </div>
        <div class="card-projeto">
            <div class="loading-border"></div>
        </div>

        <div class="card-projeto">
            <div class="loading-border"></div>
        </div>
        <div class="card-projeto">
            <div class="loading-border"></div>
        </div>
        <div class="card-projeto">
            <div class="loading-border"></div>
        </div>
    </div>
</div>