<div class="container-fluid">
    <div class="row banner d-flex justify-content-center p-0">
        <div class="col-lg-8 col-md-12 text-center d-flex flex-column justify-content-evenly p-0">
            <div>
                <h1 class="welcome">OLÁ, BEM-VINDO</h1>
                <app-typing-animation></app-typing-animation>
            </div>
            <div>
                <app-carrosel></app-carrosel>
            </div>

        </div>
        <div class="blur-strip strip-top"></div>
        <div class="blur-strip strip-bottom"></div>
    </div>
</div>