@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');

.type{
    font-family: 'Anton';
    font-size: 70px;
    color: white;
    height: 80px;
}

@media screen and (max-width: 800px) {
    .type{
        font-size: 45px;
        margin-top: 15px;
    }

}